body {
    background-color: $VeryPaleBlue;
    background-image: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    font-family: $font;
    color: $GrayishBlue;
}

header {
    background-image: url(../images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 35px;
    margin-top: 85px;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 14px;
    h1 {
        font-size: 24px;
        color: $DarkDesaturatedBlue;
    }
    p {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        line-height: 28px;
    }
}

main {
    background: $White;
    border-radius: 8px;
    box-shadow: 0px 18px 30px #a4a4a43d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 90%;
}

.ctn-card {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-weight: 600;
}

.price span {
    font-size: 30px;
    font-weight: 800;
    color: $DarkDesaturatedBlue;
}
.price .month{
    color: #858fad;
    font-size: 12px;
    font-weight: normal;
}
.month-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 12px;
    }
}

.span-discount {
    background-color: $LightGrayishRed;
    color: $LightRed;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 15px;
    span {
        display: none;
    }
}

.ctn-card-bottom {
    border-top: 1px solid $LightGrayishBlue;
    text-align: center;
    font-size: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    p span {
        margin-right: 15px;
    }
}

.btn-principal {
    background-color: $DarkDesaturatedBlue;
    color: $PaleBlue;
    cursor: pointer;
    padding: 10px 25px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0px;
    margin-top: 25px;
}

// Attribution
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@include small {
    main {
        width: 550px;
    }
    .span-discount {
        span {
            display: inline;
        }
    }
}

@include medium {
    .ctn-card-slider {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
    .order-3 {
        order: 3;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .ctn-card-bottom-p {
        text-align: left;
    }
    .ctn-card-bottom {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .month-checkbox {
        justify-content: flex-end;
        margin-right: 50px;
    }
}