body {
  background-color: #fafbff;
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;
  color: #858fad;
}

header {
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 35px;
  margin-top: 85px;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 14px;
}
header h1 {
  font-size: 24px;
  color: #293356;
}
header p {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 28px;
}

main {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 18px 30px #a4a4a43d;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 90%;
}

.ctn-card {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  font-weight: 600;
}

.price span {
  font-size: 30px;
  font-weight: 800;
  color: #293356;
}

.price .month {
  color: #858fad;
  font-size: 12px;
  font-weight: normal;
}

.month-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.month-checkbox p {
  font-size: 12px;
}

.span-discount {
  background-color: #feece7;
  color: #ff8c66;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 15px;
}
.span-discount span {
  display: none;
}

.ctn-card-bottom {
  border-top: 1px solid #eaeefb;
  text-align: center;
  font-size: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.ctn-card-bottom p span {
  margin-right: 15px;
}

.btn-principal {
  background-color: #293356;
  color: #bdccff;
  cursor: pointer;
  padding: 10px 25px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 0px;
  margin-top: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 600px) {
  main {
    width: 550px;
  }

  .span-discount span {
    display: inline;
  }
}
@media only screen and (min-width: 1024px) {
  .ctn-card-slider {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .ctn-card-bottom-p {
    text-align: left;
  }

  .ctn-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .month-checkbox {
    justify-content: flex-end;
    margin-right: 50px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaeefb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #10d5c2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #10d5c2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.order-3 input[type=range] {
  width: 90%;
}

.myrange {
  appearance: none;
  background-color: #a5f3eb;
  height: 10px;
  border-radius: 5px;
  outline: none;
}

.myrange::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #10d5c2;
  border-radius: 50%;
  box-shadow: 0px 5px 20px #10d5c2;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.myrange::-webkit-slider-thumb:active {
  background-color: #099587;
}

/*# sourceMappingURL=style.css.map */
